<section class="headerContainer">

    <section class="inputs">

        <section class="input">
            <input type="number" [(ngModel)]="userValueInput"/>
        </section>
 
        <section class="selectFrom">
            <select name="fromInput" id="" [(ngModel)]="fromInput">
                <option value="USD">USD</option>
                <option value="BRL">BRL</option>
            </select>
        </section>

        <section class="conversionIcon" (click)="switchValues()">
            <h1>⇄</h1>
        </section>

        <section class="selectTo">
            <select name="toInput" id="" [(ngModel)]="toInput">
                <option value="BRL">BRL</option>
                <option value="USD">USD</option>
            </select>
        </section>

        <section class="conversionButton">
            <button (click)="conversionRequest()">Converter</button>
        </section>

    </section>

    <section class="conversionResult">
        @if(datas?.result){
            <h4>{{userValueInput}} {{fromInput}} equivale a</h4>
            <h1>{{datas.conversion_result}} {{toInput}}</h1>
        }
    </section>
</section>