<section class="headerContainer">

    <section class="inputs">

        <section class="input">
            <input type="number" [(ngModel)]="userValueInput"/>
        </section>
 
        <section class="selectFrom">
            <select name="fromInput" [(ngModel)]="fromInput">
                <option value="BRL">BRL - Real Brasileiro</option>
                <option value="USD">USD - Dólar Americano</option>
                <option value="EUR">EUR - Euro</option>
                <option value="JPY">JPY - Iene Japonês</option>
                <option value="CNY">CNY - Yuan Chinês</option>
                <option value="AUD">AUD - Dólar Australiano</option>
                <option value="CAD">CAD - Dólar Canadense</option>
                <option value="CHF">CHF - Franco Suíço</option>
                <option value="HKD">HKD - Dólar de Hong Kong</option>
                <option value="INR">INR - Rupia Indiana</option>
            </select>
        </section>

        <section class="conversionIcon">
            <h1>⇄</h1>
        </section>

        <section class="selectTo">
            <select name="toInput" id="" [(ngModel)]="toInput">
                <option value="USD">USD - Dólar Americano</option>
                <option value="BRL">BRL - Real Brasileiro</option>
                <option value="EUR">EUR - Euro</option>
                <option value="JPY">JPY - Iene Japonês</option>
                <option value="CNY">CNY - Yuan Chinês</option>
                <option value="AUD">AUD - Dólar Australiano</option>
                <option value="CAD">CAD - Dólar Canadense</option>
                <option value="CHF">CHF - Franco Suíço</option>
                <option value="HKD">HKD - Dólar de Hong Kong</option>
                <option value="INR">INR - Rupia Indiana</option>
            </select>
        </section>

        <section class="conversionButton">
            <button (click)="conversionRequest()">Converter</button>
        </section>

    </section>

    <section class="conversionResult">
        @if(datas?.result){
            <h4>{{userValueInput}} {{fromInput}} equivale a</h4>
            <h1>{{datas.conversion_result}} {{toInput}}</h1>
        }
    </section>
</section>