<section class="headerContainer">

    <section class="inputs">

        <section class="input">
            <h2>Valor</h2>
            <input type="number"/>
        </section>

        <section class="selectFrom">
            <h2>De</h2>
            <select name="" id="">
                <option value="">oi</option>
            </select>
        </section>

        <section class="selectTo">
            <h2>Para</h2>
            <select name="" id="">
                <option value="">oi</option>
            </select>
        </section>

    </section>

    <section class="conversionResult">
        <p>resultado</p>
        <button>Converter</button>
    </section>
</section>